//Titulos y subtitulos

h3 {

    font-family: $playfair;
    font-size: $blackitalic;
    font-style: italic;
}


h5 {

    font-family: $playfair;
    font-size: $robotolight;
}

.date {
    font-weight: $medium;
}