// Esquema de Colores

// Primer bloque de Colores
$white: #FFF;
$Platinum: #E6E7E7;
$Light-gray: #D1D1D1;

// Segundo Bloque de Colores
$Fuzzy-Wuzzy: #E56353;
$Ruddy-pink: #D76C69;
$Spanish-pink: #ECBCBA;

// Tercer Bloque de Colores
$Eerie-black: #121619;
$Raisin-black: #222323;
$Nickel: #6C6E70;

// Tipografias

$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Pesos de Fuentes
$robotolight: 300;
$regular: 400;
$blackitalic: 900;

// Tamaños de fuentes

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Breakpoints

$min-phone: 576px;
$min-tablet: 768px;
$min-laptop: 992px;
$min-desktop: 1200px;

